@font-face {
    font-family: 'LESLIE';
    src: url('LESLIE.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'COOL';
    src: url('cool.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SIYUAN';
    src: url('test3.ttf');
    font-weight: normal;
    font-style: normal;
}

